:root {
  --color-black: #2d2d2d;
  --color-purple: #a546ec;
  --color-purple-light: #af68ea;
  --color-lilac: #a56fd4;
  --color-lilac-light: #e9d0fa;

  --font-size-lg: 3rem;
  --font-size-med: 2rem;
  --font-size-sm: 1rem;
}

h1,
h2 {
  color: var(--color-black);
}

#word-title {
  font-size: var(--font-size-lg);
}

.section-divider {
    display: flex;
}